<h2 mat-dialog-title>Dodaj klienta</h2>
<hr>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Nazwa budowy"
        required
        formControlName="clName">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Adres budowy"
        required
        formControlName="clAddress">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Miasto"
        required
        formControlName="clCity">
    </mat-form-field>
    <div>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Skrót"
        required
        formControlName="short">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Symbol"
        required
        formControlName="iniShort">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Kod budowy"
        required
        formControlName="cid">
    </mat-form-field>
    </div><hr><div>
        <div>Osoba kontaktowa</div>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Imię"
        required
        formControlName="contactname">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="text"
        placeholder="Nazwisko"
        required
        formControlName="contactlastname">
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        type="tel"
        placeholder="Telefon"
        required
        formControlName="contactTelNo">
    </mat-form-field>
    </div>
    <mat-form-field>
        <mat-select formControlName="name" name="wyko" required>
            <mat-label>Wykonawca</mat-label>
            <mat-option *ngFor="let wyko of wykos" [value]="wyko.name">
                {{wyko.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <hr>
    <div>
        <div>Konto</div>
        <mat-form-field>
            <input
            matInput
            type="email"
            placeholder="Email"
            required
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input
            matInput
            type="password"
            placeholder="Hasło"
            required
            formControlName="password">
        </mat-form-field>
    </div>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Zamknij</button>
    <button mat-raised-button color=primary [disabled]="!form.valid" (click)="save()">Zapisz</button>
</mat-dialog-actions>